lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.log

pids
logs
results
build
scripts

node_modules
*.sublime-project
*.sublime-workspace

server/config/reddit.coffee
server/config/keys
src/coffee/config.coffee
