.ui.titlebar.top.fixed.menu.reddit.inverted
	.left.menu
		a.item.redditmusicplayer.phone-hide(href='/')
			span Music
			|  Player 
			span  for 
			| Reddit
			sup  #{pkg.version}
		.item.phone-only
			i.icon.music
	.right.menu
		.ui.dropdown.item.reddit
			| Menu
			i.icon.dropdown
			.menu
				.page.icon.link.item(data-page="playlist", class={active: page == "playlist"})
					i.icon.sound
					| Playlist
				.page.icon.link.item(data-page="remote", class={active: page == "remote"})
					i.icon.wifi
					| Remote Control
				a.icon.item(href="https://github.com/musicplayer-io/redditmusicplayer", target="_blank", rel="nofollow")
					i.icon.github.alternative
					| Source Code
				a.icon.item(href="https://www.reddit.com/r/musicplayer", target="_blank", rel="nofollow")
					i.icon.reddit
					| Reddit
				a.icon.item(href="https://il.ly", target="_blank")
					i.icon.birthday.cake
					| Ilias Ism
				a.item(href="https://magicbuddy.chat", target="_blank")
					i.icon.hand.point.right.outline
					| ChatGPT in Telegram
				a.item(href="https://swissobserver.com", target="_blank")
					i.icon.hand.point.right.outline
					| Swiss News
				a.item(href="https://magicspace.agency", target="_blank")
					i.icon.hand.point.right.outline
					| SEO Agency
		span.authentication
			a.item.log-in(href="/login")
				i.icon.user
				| Log In
.ui.mobilebar.menu.reddit.inverted.three.item.wide.top.fixed
	.link.one.item(data-page="browse") Browse
	if page && content
		.link.two.item.active(data-page=page) #{page}
	else
		.link.two.item.active(data-page="playlist") Playlist
	.link.three.item(data-page="song") Song
