//- Bottom Controls Bar 
.ui.bottom.fixed.inverted.menu
	//- Music Progress 
	.music-progress.ui.top.red.attached.progress
		.bar(style='width: 0%;')
	//- Radio Statusbar 
	.ui.tab.radio(data-tab='radio')
		.left.menu
			.item.title
				| Not Playing.
			.item.artist
	//- Music Statusbar 
	.ui.tab.music(data-tab='music')
		.left.menu
			.item.title
				| Select Subreddits
	//- Player Controls 
	.right.menu
		a.item.prev-btn.disabled
			i.fast.backward.icon
		a.item.play-btn
			i.play.icon
			i.stop.icon.hidden
		a.item.next-btn
			i.fast.forward.icon