.ui.controls.menu.bottom.fixed.reddit.inverted
	.left.menu
		.item.backward.button
			i.icon.backward
		.item.play.button
			i.icon.play
		.item.forward.button
			i.icon.forward
	.middle.menu
		.item.start.time 00:00
		.item.progress
			.loaded
			.current
			.waveform
		.item.end.time 1:00:00
	.right.menu
		.item.volume.button
			i.icon.volume.up
			.volume-control
			.volume-bar(style="height: 100px")