<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/img/favicon/favicon.ico">                
<!--[if IE]><link rel="shortcut icon" href="/img/favicon/favicon.ico"><![endif]-->               
<!-- Touch icon for iOS 2.0+ and Android 2.1+: -->                                                             
<link rel="apple-touch-icon-precomposed" href="/img/favicon/favicon-152.png">                    
<!-- IE 10 Metro tile icon (Metro equivalent of apple-touch-icon): -->                                         
<meta name="msapplication-TileColor" content="#212121">                                                        
<meta name="msapplication-TileImage" content="/img/favicon/favicon-144.png">                     
<!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->                                         
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon/favicon-152.png">    
<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->                                         
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon/favicon-144.png">    
<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->                                       
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicon/favicon-120.png">    
<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->                                       
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicon/favicon-114.png">    
<!-- For first- and second-generation iPad: -->                                                                
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon/favicon-72.png">       
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->                                          
<link rel="apple-touch-icon-precomposed" href="/img/favicon/favicon-57.png">                     