link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='/images/icon/favicon.ico')
link(rel='shortcut icon', href='/images/icon/favicon.ico')
link(rel='apple-touch-icon-precomposed', href='/images/icon/favicon-152.png')
meta(name='msapplication-TileColor', content='#FDC00F')
meta(name='msapplication-TileImage', content='/images/icon/favicon-144.png')
link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/images/icon/favicon-152.png')
link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/icon/favicon-144.png')
link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/images/icon/favicon-120.png')
link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/icon/favicon-114.png')
link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/icon/favicon-72.png')
link(rel='apple-touch-icon-precomposed', href='/images/icon/favicon-57.png')