.scripts
	script(src="/js/lib/underscore.js")
	script(src="/js/lib/jquery.js")
	script(src="/js/lib/backbone.js")
	script(src="/js/lib/backbone.localstorage.js")
	script(src="/js/lib/semantic.min.js")
	script(src="/js/main.js")
	//- script(src="/js/main.min.js")