.scripts
	script(src="/js/lib/lodash.js")
	script(src="/js/lib/jquery.js")
	script(src="/js/lib/backbone.js")
	script(src="/js/lib/backbone.localstorage.js")
	script(src="/js/lib/semantic.min.js")
	script(src="//www.google-analytics.com/analytics.js")
	script(src="/socket.io/socket.io.js")
	//- script(src="/js/main.js")
	script(src="/js/main.min.js")
	script.
		ga('create', 'UA-45488207-6', 'il.ly');
		ga('send', 'pageview');