//- Jquery
script(type='text/javascript', src='js/lib/jquery.min.js')
script(type='text/javascript', src='js/lib/jquery-migrate.min.js')
script(type='text/javascript', src='js/lib/jquery.address.min.js')
script(type='text/javascript', src='js/lib/jquery.easing.min.js')
//- Player
script(type="text/javascript", src="http://connect.soundcloud.com/sdk.js")
script(type="text/javascript", src="https://w.soundcloud.com/player/api.js")
script(type='text/javascript', src='js/lib/jquery.tubeplayer.js')
//- TweenMax
script(type='text/javascript', src='js/lib/TweenMax.min.js')
script(type='text/javascript', src='js/lib/jquery.gsap.min.js')
//- swfobjet
script(type='text/javascript', src='js/lib/swfobject.js')
//- MVP
script(type='text/javascript', src='js/lib/riot.js')
//- Keyboard & UI
script(type='text/javascript', src='js/lib/keyboard.js')
script(type='text/javascript', src='js/lib/semantic.min.js')
script(type='text/javascript', src='js/lib/md5-min.js')
//- Scripts 
block mainscript
	script(type='text/javascript', src='js/main.js')
block native
	script(type='text/javascript', src='js/native.js')