meta(property='og:type', content='website')
meta(property='og:url', content='http://reddit.music.player.il.ly')
meta(property='og:title', content='#{seo.title}')
meta(property='og:image', content='http://reddit.music.player.il.ly/images/icon/favicon-256.png')
meta(itemprop='name', content='Reddit Music Player')
meta(itemprop='image', content='http://reddit.music.player.il.ly/images/icon/favicon-256.png')
meta(name='description', content='#{seo.description}')
meta(name='keywords', content='reddit, music, player, subreddits, playlist, tunes, playlister, playlist')