meta(property='og:type', content='website')
meta(property='og:url', content='http://reddit.music.player.il.ly')
meta(property='og:title', content='Reddit Music Player')
meta(property='og:image', content='http://reddit.music.player.il.ly/img/social.jpg')
meta(property='og:description', content='Play music and radio from subreddits on reddit.')
meta(itemprop='name', content='Reddit Music Player')
meta(itemprop='description', content='Play music and radio from subreddits on reddit.')
meta(itemprop='image', content='http://reddit.music.player.il.ly/img/social.jpg')
meta(name='description', content='Play music and radio from subreddits on reddit.')
meta(name='keywords', content='reddit, music, player, playlist, playlister')
meta(name='viewport', content='width=device-width, initial-scale=1')