meta(property='og:type', content='website')
meta(property='og:url', content='http://reddit.music.player.il.ly')
meta(property='og:title', content='Reddit Music Player')
meta(property='og:image', content='http://reddit.music.player.il.ly/img/favicon/redditmusicplayer.png')
meta(property='og:description', content='Play music from subreddits on reddit. Listen to the best user-curated music on the web. All of the music subreddits in one beautiful music player.')
meta(itemprop='name', content='Reddit Music Player')
meta(itemprop='description', content='Play music from subreddits on reddit. Listen to the best user-curated music on the web. All of the music subreddits in one beautiful music player.')
meta(itemprop='image', content='http://reddit.music.player.il.ly/img/favicon/redditmusicplayer.png')
meta(name='description', content='Play music from subreddits on reddit. Listen to the best user-curated music on the web. All of the music subreddits in one beautiful music player.')
meta(name='keywords', content='reddit, music, player, subreddits, playlist, playlister')
meta(name='viewport', content='width=device-width, initial-scale=1')