meta(property='og:type', content='website')
meta(property='og:url', content='//reddit.music.player.il.ly')
meta(property='og:title', content='Reddit Music Player')
meta(property='og:image', content='//reddit.music.player.il.ly/images/icon/favicon-256.png')
meta(itemprop='name', content='Reddit Music Player')
meta(itemprop='image', content='//reddit.music.player.il.ly/images/icon/favicon-256.png')
meta(name='description', content='Play music from subreddits on reddit. Listen to the best user-curated music on the web. All of the music subreddits in one beautiful music player.')
meta(name='keywords', content='reddit, music, player, subreddits, playlist, tunes, playlister, playlist')