block title
	title Music Player for Reddit | Listen to Music on subreddits
meta(property='og:type', content='website')
meta(property='og:url', content='//reddit.musicplayer.io')
meta(property='og:title', content='Music Player for Reddit')
meta(property='og:image', content='//reddit.musicplayer.io/images/icon/favicon-256.png')
meta(itemprop='name', content='Music Player for Reddit')
meta(itemprop='image', content='//reddit.musicplayer.io/images/icon/favicon-256.png')
meta(name='description', content='Play music from subreddits on reddit. Listen to the best user-curated music on the web. All of the music subreddits in one beautiful music player.')
meta(name='keywords', content='reddit, music, player, subreddits, playlist, tunes, playlister, playlist')