.ui.sidebar.active.sidepane
	.ui.menu.vertical.inverted.reddit.fluid
		.item
			| Main
			.menu(data-category="main")
				.link.disabled.item(data-page="discover")
					i.icon.globe
					| Discover
				.link.disabled.item(data-page="popular")
					i.icon.star
					| Popular
				.link.item(data-page="browse")
					i.icon.list 
					| Browse
				.link.item(data-page="playlist")
					i.icon.music
					| Playlist
				.link.disabled.item(data-page="radio")
					i.icon.headphones
					| Radio
				.link.item(data-page="about")
					i.icon.help
					| About
		.item
			| My Music
			.menu(data-category="music")
				.link.disabled.item(data-page="devices")
					i.icon.tablet
					| Devices
				.link.disabled.item(data-page="saved")
					i.icon.bookmark
					| Saved
				.link.disabled.item(data-page="recent")
					i.icon.time
					| Recent
				.link.disabled.item(data-page="statistics")
					i.icon.signal
					| Statistics
				.link.disabled.item(data-page="settings")
					i.icon.setting
					| Settings
		.item.current-song-sidebar
			img.ui.image.fluid
			#player
			.menu
				.item
					.title