.templates.hidden
	//- Music Playlist
	script(type='html/musicplaylist').
		<div class="ui item" href="{file}">
		<div class="name">{title}</div>
		{origin}
		<a href="{reddit}" target="_blank" title="{title}">view on reddit</a>
		</div>
		</div>
	script(type="html/subredditlabel").
		<a data-sub="{sub}" class="ui label black">{name} &emsp;<i class="{icon} icon"></i></a>