.ui.titlebar.top.fixed.menu.reddit.inverted
	.left.menu
		.item.redditmusicplayer
			span Reddit
			| Music
			span Player
			sup  0.3.3
	.right.menu.authentication
		a.item.log-in(href="/login")
			i.icon.user
			| Log In
.ui.mobilebar.menu.reddit.inverted.three.item.wide.top.fixed
	.link.item.active(data-page="browse") Browse
	.link.item(data-page="playlist") Playlist
	.link.item(data-page="song") Song