.title.ui.top.fixed.inverted.menu
	.top.menu.header
		block macnative
			//- Window Controls 
			.left.active.menu.native.mac.windows-hidden
				.close.button
				.minimize.button
				.maximize.button
		//- Logo 
		a.active.disabled.item.redmusic
			span Reddit
			| Music
			span Player
		//- Music / Radio Tabs 
		.page-menu.right.tabular.menu
			a.item(href="http://reddit.music.player.il.ly", target="_blank")
				i.icon.home
			a.music-page.item.active(href='#/music/', data-tab='music')
				i.icon.music
			a.item(href="http://reddit.com/r/musicplayer", target="_blank")
				i.icon.help
			a.item(href="http://github.com/illyism/redditmusicplayer", target="_blank")
				i.icon.github
			a.item.redmusic(href="http://il.ly", target="_blank") Ilias Ismanalijev
			block windowsnative
				//- Window Controls 
				a.icon.item.native.windows-only.close(href='#/close/')
					i.icon.circled.close
		//- Load Progressbar 
		.load-progress.ui.bottom.teal.striped.attached.progress
			.bar(style='width: 0%;')
	.sub.menu
		.content.music
			.ui.divided.grid
				.five.wide.column
					a.item.icon.search-subs
						i.icon.search
					a.item.icon.edit-subs
						i.icon.pencil
					a.item.icon.clear-subs.hidden
						i.icon.remove
				.eleven.wide.column.sorting
					include modules/subreddit-dropdown