.ui.titlebar.top.fixed.menu.reddit.inverted
	.left.menu
		.item.redditmusicplayer
			span Music
			|  Player 
			span  for 
			| Reddit
			sup  #{pkg.version}
	.right.menu
		a.item(href="https://github.com/illyism/redditmusicplayer", title="Fork Me")
			i.icon.github
		span.authentication
			a.item.log-in(href="/login")
				i.icon.user
				| Log In
.ui.mobilebar.menu.reddit.inverted.three.item.wide.top.fixed
	.link.one.item.active(data-page="browse") Browse
	if page && content
		.link.two.item(data-page=page) #{page}
	else
		.link.two.item(data-page="playlist") Playlist
	.link.three.item(data-page="song") Song