.ui.titlebar.top.fixed.menu.reddit.inverted
	.left.menu
		.item.redditmusicplayer.phone-hide
			span Video
			|  Player 
			span  for 
			| Reddit
			sup  #{pkg.version}
		.item.phone-only
			i.icon.music
	.right.menu
		.page.icon.pop.link.item(data-page="playlist", class={active: page == "playlist"}, , data-content="Playlist", data-variation="inverted")
			i.icon.sound
		.page.icon.pop.link.item(data-page="remote", class={active: page == "remote"}, , data-content="Remote", data-variation="inverted")
			i.icon.wifi
		a.icon.pop.item(href="https://github.com/musicplayer-io/redditmusicplayer", data-content="Fork Me", target="_blank", data-variation="inverted")
			i.icon.github.alternative
		a.icon.pop.item(href="http://www.musicplayer.io/donate.html", data-content="Donate", target="_blank", data-variation="inverted")
			i.icon.gift
		span.authentication
			a.item.log-in(href="/login")
				i.icon.user
				| Log In
.ui.mobilebar.menu.reddit.inverted.three.item.wide.top.fixed
	.link.one.item(data-page="browse") Browse
	if page && content
		.link.two.item.active(data-page=page) #{page}
	else
		.link.two.item.active(data-page="playlist") Playlist
	.link.three.item(data-page="song") Song
