.ui.titlebar.top.fixed.menu.reddit.inverted
	.left.menu
		.item.redditmusicplayer
			span Reddit
			| Music
			span Player
		.item Alpha Build
	.right.menu.authentication
		a.item.log-in(href="/login")
			i.icon.user
			| Log In