if (subreddits != null && subreddits.length > 0)
	script(type="text/javascript").
		url_subreddits = !{JSON.stringify(subreddits)};
if (comment != null)
	script(type="text/javascript").
		url_comment = !{JSON.stringify(comment)};
if (autoplay != null)
	script(type="text/javascript").
		url_autoplay = true;	
if (multi != null)
	script(type="text/javascript").
		url_multi = "!{multi}";
if (remote != null)
	script(type="text/javascript").
		url_remote = "#{remote}";
