if process.env.NODE_ENV is 'production'
	module.exports =
		base: 'https://ssl.reddit.com/api'
		client_id: 'YOUR_CLIENT_ID'
		client_secret: 'YOUR_SECRET'
		secret: 'YOUR_SECRET'
		redirect_uri: 'https://example.com/auth/reddit/callback'
		scope: 'identity,read,save,vote,submit'
else
	module.exports =
		base: 'https://ssl.reddit.com/api'
		client_id: 'YOUR_CLIENT_ID_DEV'
		client_secret: 'YOUR_SECRET_DEV'
		secret: 'YOUR_SECRET_DEV'
		redirect_uri: 'http://localhost:4008/auth/reddit/callback'
		scope: 'identity,read,save,vote,submit'
