
@import "mixins";
@import "fonts";

// Roboto 100, 300, 400, 500, 700, 900
// @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

// Roboto Condensed 300, 400
// @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

@desktop:   ~"only screen and (min-width: 960px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone: 	~"only screen and (max-width: 719px)";

@maxwidth: 1280px;

// Basics
*,
::before,
::after {
	-webkit-user-select: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, window {
	background: #212121;
}

::selection {
	background: #F75858;
}

.ui.grid>.column {
	margin: inherit;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	margin: 0px;
	background: #212121;
	background: #212121 url(../img/header.png) top repeat-x;
	color: #FFF;
}

a {
	font-weight: 300;
	color: inherit;
	text-decoration: inherit;
}

// Title bar
.title.menu.ui {
	 .top.header.menu {
	 	height: 45px;
		-webkit-app-region: drag;
		-webkit-border-radius-bottom: 10px;
		border-radius-bottom: 10px;
		font-weight: 100;

		.gradient(#393939, #212121);
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(57,57,57,0.7)), to(rgba(31,31,31,0.7))) 0 1px, url(../img/header.png);
		background-repeat: repeat-x;
		background-size: 100%, 378px;
		border-top: 1px solid #6d6d6d;
		border-left: 1px solid #464646;
		border-right: 1px solid #464646;
		border-bottom: 1px solid #313131;
		.drop-shadow(0, 5px, 10px, 0.5);

		.wrapper {
			max-width: @maxwidth;
			margin: auto;
		}

		i.icon {
			text-align: center;
			margin: 0px;
		}

		.redmusic {
			font-weight: 400;
			font-family: "Roboto Condensed", sans-serif;
			text-transform: uppercase;
			span {
				font-variant: small-caps;
				font-weight: 300;
			}
		}
		.page-menu {
			-webkit-app-region: no-drag;
		}
	}
}


// Content
.main-container.wrapper {
	width: 100%;
	height: 100%;
	margin-top: -10px;
	min-height: 768px;
	.intro {
		margin: 50px auto;
		max-width: @maxwidth;
		text-align: center;
		padding-top: 50px;
		h1.ui.header {
			font-family: "Roboto Condensed", "Roboto", sans-serif;
			font-weight: 300;
		}
	}
	.footer {
		text-align: center;
		max-width: @maxwidth;
		margin: 50px auto;
		.player {
			margin-top: 100px;
		}
		.share {
			margin-top: 50px;
		}
		.copyright {
			margin-top: 100px;
		}
	}
	.feature {
		max-width: @maxwidth;
		margin: auto;
		padding: 10px;
		@media @tablet {
			margin: 50px auto;
			padding: 20px;
		}
		@media @phone {
			margin-bottom: 100px auto;
			padding: 10px;
			padding-bottom: 100px;
		}
		.ui.image {
			display: inline-block;
			width: 70%;
			@media @desktop {
				margin-left: -25px;
			}
			@media @tablet {
				width: 50%;
				margin-left: 0px;
			}
			@media @phone {
				width: 100%;
				display: block;
				margin: auto;
			}
		}
		.description {
			display: inline-block;
			width: 30%;
			a {
				font-weight: 700;
			}
			@media @tablet {
				width: 50%;
			}
			@media @phone {
				width: 100%;
				display: block;
				max-width: 700px;
				margin: auto;
				text-align: center;
			}
		}
		.description + .ui.image {
			// image to the right
			@media @desktop {
				margin-left: 25px;
				margin-right: -25px;
				table {
					margin-left: -25px;
				}
			}
			@media @phone {
				margin-top: 10px;
			}
		}
		.ui.image + .description {
			// text to the right
		}
	}
}