.content.about
	.intro
		h1.ui.header Listen to the best user-curated music on the web.
		p.description All of the music subreddits in one beautiful music player. Right now.
	.feature
		img.ui.image(src="/images/unix.png")
		p.description Hundreds of subreddits full of music at your immediate disposal. Just a few clicks and you're listening to any genre of music that you want. Discover new exotic types of music and combine them all to make your own unique selection.
			br
			br
			a.ui.black.button.start.listening.large.teal
				i.icon.music
				| Start Listening
		.ui.horizontal.icon.divider.inverted
			i.circular.github.icon
	.feature
		p.description Thousands lines of code combined to make a great listening experience. All open source and free for everyone to look at, improve upon or use for their own fork. This means this music player will be free forever.
			br
			br
			a.ui.black.button(target="_blank", href="http://github.com/illyism/redditmusicplayer") View the Code on Github
		img.ui.image(src="/images/code.png")
		.ui.horizontal.icon.divider.inverted
				i.circular.heart.icon
	.feature
		img.ui.image(src="/images/reddit.png")
		p.description Feel free to ask questions, give feedback and suggest new and awesome ideas on the 
			a(target="_blank", href="http://reddit.com/r/musicplayer") /r/musicplayer 
			| subreddit. We listen to your needs and work closely with the community to make this the best music player for reddit in the world.
			br
			br
			a.ui.black.button(target="_blank", href="http://reddit.com/r/musicplayer") Check out the Subreddit
		.ui.horizontal.icon.divider.inverted
				i.circular.keyboard.icon
	.footer
		.player
			.ui.three.buttons
				a.ui.black.button(target="_blank", href="/player/") Player
				a.ui.black.button(target="_blank", href="http://github.com/illyism/redditmusicplayer") Github
				a.ui.black.button(target="_blank", href="http://reddit.com/r/musicplayer") Reddit
		.share
			.ui.three.buttons
				a(class="g-interactivepost", data-contenturl="http://reddit.music.player.il.ly/", data-contentdeeplinkid="/", data-clientid="reddit-music-player-il-ly", data-cookiepolicy="single_host_origin", data-prefilltext="Play Music from Reddit", data-calltoactionlabel="TRY_IT", data-calltoactionurl="http://reddit.music.player.il.ly/player/", data-calltoactiondeeplinkid="/player/", href='https://plus.google.com/share?url=http://reddit.music.player.il.ly', target="_blank", onclick='javascript:window.open(this.href, \'\', \'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600\');return false;').ui.button.google.plus.icon
					i.google.plus.icon
				a(href='https://twitter.com/intent/tweet?original_referer=http://reddit.music.player.il.ly&text=Play Music from Reddit&tw_p=tweetbutton&url=http://reddit.music.player.il.ly&via=illyism', target='_blank').ui.button.twitter.icon
					i.twitter.icon
				a(target="_blank", href='JavaScript:window.open(\'http://www.facebook.com/sharer.php?u=http://reddit.music.player.il.ly\',\'\',\'width=657,height=400,scrollbars=1\')').ui.button.facebook.icon
					i.facebook.icon
		.small.copyright
			small Copyright © 2014 Ilias Ismanalijev