.content.discover
	.intro
		h1.ui.header Discover Great Music
		p.description From all the subreddits
	.ui.grid.fluid
		.twelve.column.wide
			i.icon.smile.massive.loading
		.four.column.wide
			table.ui.table.inverted
				thead
					tr
						th.one.wide
						th Popular Subreddits
				tbody
					tr
						td 1
						td Postrock
					tr
						td 2
						td Electronic Music
				tfoot
					tr
						th(colspan=2)
							.ui.menu.fluid.three.item.inverted.basic.reddit
								.item.link.active This Week
								.item.link This Month
								.item.link This Year