.content.playlist
	mixin voting
		.vote
			.upvote
				i.icon.up.arrow
			.downvote
				i.icon.down.arrow
	.switcher
		i.icon.sound
		span.page Playlist
		.right.shuffle-button(title="Shuffle Playlist", data-variation="inverted")
			i.icon.shuffle
		include ../switcher
	.ui.menu.inverted.horizontal.four.item.sortMethod
		a.sort.item.active(data-value='hot') Hot
		a.sort.item(data-value='new') New
		a.top.sort.item(data-value="top") Top
		.ui.dropdown.item.top.inverted.black.topMethod.reddit
			.text Week
			i.dropdown.icon
			.menu
				a.sort.item(data-value='top:day') Today
				a.sort.item(data-value='top:week') This Week
				a.sort.item(data-value='top:month') This Month
				a.sort.item(data-value='top:year') This Year
				a.sort.item(data-value='top:all') All Time

	.music.playlist.ui.inverted.fluid.vertical.selection.menu
		a.item.more
			i.icon.loading.circle.notched.large
			.name Getting some songs... Hold tight!
