.content.remote
	.switcher
		i.icon.wifi
		span.page Remote
		include ../switcher

	.ui.dimmer.active
		.content
			.center
				h2.ui.inverted.icon.header
					i.icon.massive.inverted.ban
					| You need to log in first.
				.log-in
					a.ui.button.basic.inverted(href="/login")
						i.icon.user
						| Log In

	.ui.form.segment.inverted.center.aligned
		.two.fields
			.field
				.ui.radio.checkbox.receiver
					input(type="radio", name="receiver", value="receiver", checked)
					label This is where I play music.
			.field
				.ui.radio.checkbox.commander
					input(type="radio", name="receiver", value="commander")
					label This is the remote control.

	.remote-controls
		.ui.inverted.segment
			.ui.three.buttons.fluid.black
				.ui.remote-btn.backward.button(data-type="controls:backward")
					i.icon.backward
				.ui.remote-btn.play.button(data-type="controls:play")
					i.icon.play
				.ui.remote-btn.forward.button(data-type="controls:forward")
					i.icon.forward

		.ui.inverted.segment
			.ui.button.black.fluid.subreddits-copy
				i.icon.copy
				| Send Subreddits Selection

	.remote-receiver
		.ui.segment.inverted
			.ui.button.black.fluid.generate-link
				i.icon.copy
				| Generate Link / Token
		.ui.segment
			.hashlink.ui.header.center.aligned
				a.qrcode(target="_blank")
				h1.text
