.content.song
	.switcher.phone-hide
		i.icon.music
		span.page Current Song
	include ../video
	.current.song.ui.inverted.segment
	.ui.inverted.segment.comments.root
		h2.ui.header
			span.num_comments
			|  Comments
		.ui.comments.overview
		form.ui.reply.form
			.field
				textarea.comment_text
			.ui.button.gold.submit.labeled.icon.fluid.add_comment
				i.icon.edit
				|  Add Comment
