img.arrow(src="/img/arrow.svg")
h2.subsheader.ui.header.divided You haven't selected any subreddits yet.
p.description By selecting a few subreddits you’ll be able to listen to a playlist from the music from those subreddits.
h2.ui.header.divided Shortcuts
table.basic.inverted.ui.table.shortcuts
	thead
		tr
			th.four.wide Key
			th Function
	tbody
		include shortcuts