.content.music
	.ui.divided.grid
		.five.musicmenu.wide.column
			#searchSubs.ui.icon.input.black.fluid.hidden
				input(type='text', placeholder='Subreddit...')
				i.search.icon
			//- Subreddits 
			include subreddits
		.eleven.musicplaylist.wide.column
			.music.playlist.ui.inverted.fluid.vertical.selection.menu
			.empty.condensed
				include empty