.content.settings.ui.tab(data-tab='settings')
	.ui.divided.grid
		.five.musicmenu.wide.column
			.ui.fluid.inverted.secondary.vertical.menu.settings-menu
				.tabular.menu
					a.item(href="#/settings/reddit", data-tab="settings/reddit")
						i.setting.icon
						| Reddit
					a.item(href="#/settings/player", data-tab="settings/player")
						i.headphones.icon
						| Player
					a.item(href="#/settings/lastfm", data-tab="settings/lastfm")
						i.music.icon
						| LastFM
		.eleven.musicplaylist.wide.column
			.ui.tab(data-tab='settings/reddit')
				.ui.inverted.form
					label Sort by: 
					.ui.menu.inverted.secondary
						a.item.active(data-value='hot') Hot
						.ui.dropdown.item
							| Top
							i.dropdown.icon
							.menu
								a.item(data-value='top:day') Top: Today
								a.item(data-value='top:week') Top: This Week
								a.item(data-value='top:month') Top: This Month
								a.item(data-value='top:year') Top: This Year
								a.item(data-value='top:all') Top: All Time
						a.item(data-value='new') New
				.ui.divider.inverted
				.ui.inverted.form
					label Default subreddits
					.subreddits-default
						.ui.label.black Atmosphericdnb
							i.delete.icon
					.two.fields
						.field
							.ui.icon.input.subreddits-add
								input(type=text, placeholder="subreddit...")
								i.icon.inverted.search
						.field.subreddits-search-add
			.ui.tab(data-tab="settings/player")
				h4.ui.header.divided Player Settings
			.ui.tab(data-tab="settings/lastfm")
				h4.ui.header.divided LastFM