//- .link.disabled.item(data-page="discover")
//- 	i.icon.globe
//- 	| Discover
//- .link.disabled.item(data-page="popular")
//- 	i.icon.star
//- 	| Popular
.link.item(data-page="browse")
	i.icon.list 
	| Browse
.link.item(data-page="playlist")
	i.icon.headphones
	| Playlist
.link.item(data-page="song")
	i.icon.music
	| Current Song
//- .link.disabled.item(data-page="radio")
//- 	i.icon.headphones
//- 	| Radio
.link.item(data-page="about")
	i.icon.help
	| About
//- .link.disabled.item(data-page="devices")
//- 	i.icon.tablet
//- 	| Devices
//- .link.disabled.item(data-page="saved")
//- 	i.icon.bookmark
//- 	| Saved
//- .link.disabled.item(data-page="recent")
//- 	i.icon.time
//- 	| Recent
//- .link.disabled.item(data-page="statistics")
//- 	i.icon.signal
//- 	| Statistics
//- .link.disabled.item(data-page="settings")
//- 	i.icon.setting
//- 	| Settings
