mixin subreddit(sub)
	a.item(data-value=sub.toLowerCase()) #{sub}

.ui.fluid.secondary.inverted.vertical.menu.subreddit-menu
	.item
		i.music.icon
		| Alternative
		.menu.selection
			+subreddit("crustpunk")
			+subreddit("grunge")
			+subreddit("melodicmetal")
			+subreddit("postrock")
			+subreddit("punk")
			+subreddit("Punkskahardcore")
			+subreddit("ska")
			+subreddit("stonerrock")
	.item
		i.music.icon
		| Electronic
		.menu.selection
			+subreddit("atmosphericdnb")
			+subreddit("bassheavy")
			+subreddit("breakbeat")
			+subreddit("breakcore")
			+subreddit("brostep")
			+subreddit("chillstep")
			+subreddit("chiptunes")
			+subreddit("classic_beats")
			+subreddit("complextro")
			+subreddit("darkstep")
			+subreddit("deephouse")
			+subreddit("dnb")
			+subreddit("dubstep")
			+subreddit("drumstep")
			+subreddit("electro")
			+subreddit("ElectronicJazz")
			+subreddit("electronicmusic")
			+subreddit("electrohouse")
			+subreddit("electropop")
			+subreddit("electroswing")
			+subreddit("fidget")
			+subreddit("footwork")
			+subreddit("frenchhouse")
			+subreddit("funkhouse")
			+subreddit("futurebeats")
			+subreddit("futurefunkairlines")
			+subreddit("futuregarage")
			+subreddit("futurepopmusic")
			+subreddit("glitch")
			+subreddit("glitchop")
			+subreddit("grime")
			+subreddit("happyhardcore")
			+subreddit("hardstyle")
			+subreddit("hardtek")
			+subreddit("house")
			+subreddit("idm")
			+subreddit("juke")
			+subreddit("jumpup")
			+subreddit("latinhouse")
			+subreddit("liquiddnb")
			+subreddit("minimaltech")
			+subreddit("moombahton")
			+subreddit("NeuroFunk")
			+subreddit("nudisco")
			+subreddit("proghouse")
			+subreddit("progressivetrance")
			+subreddit("psytrance")
			+subreddit("purplemusic")
			+subreddit("raggajungle")
			+subreddit("realdubstep")
			+subreddit("skweee")
			+subreddit("techno")
			+subreddit("tech_house")
			+subreddit("techstep")
			+subreddit("trance")
			+subreddit("trap")
			+subreddit("triphop")
	.item
		i.music.icon
		| Blues/Funk/Jazz
		.menu.selection
			+subreddit("blues")
			+subreddit("DeepFunk")
			+subreddit("funk")
			+subreddit("FunkSouMusic")
			+subreddit("jazz")
			+subreddit("soul")
			+subreddit("soulies")
	.item
		i.music.icon
		| Rap/Hip Hop
		.menu.selection
			+subreddit("altrap")
			+subreddit("hiphopheads")
			+subreddit("makinghiphop")
			+subreddit("nerdcore")
			+subreddit("rap")
	.item
		i.music.icon
		| Other
		.menu.selection
			+subreddit("80sMusic")
			+subreddit("ambientmusic")
			+subreddit("asmr")
			+subreddit("AvantGardeMusic")
			+subreddit("calireggae")
			+subreddit("chillmusic")
			+subreddit("chillwave")
			+subreddit("classicalmusic")
			+subreddit("coversongs")
			+subreddit("Cyberpunk_Music")
			+subreddit("dub")
			+subreddit("djmixes")
			+subreddit("EcouteCa")
			+subreddit("freemusic")
			+subreddit("frisson")
			+subreddit("gamemusic")
			+subreddit("icm")
			+subreddit("industrialmusic")
			+subreddit("ipm")
			+subreddit("jazznoir")
			+subreddit("koreanmusic")
			+subreddit("liftingmusic")
			+subreddit("listentothis")
			+subreddit("listentous")
			+subreddit("mashups")
			+subreddit("minimal")
			+subreddit("mlptunes")
			+subreddit("motivatedmusic")
			+subreddit("music")
			+subreddit("musiccritics")
			+subreddit("musicforconcentration")
			+subreddit("musicnews")
			+subreddit("MusicVideosOnYouTube")
			+subreddit("orchestra")
			+subreddit("partymusic")
			+subreddit("queercore")
			+subreddit("redditmusicclub")
			+subreddit("reggae")
			+subreddit("reggaeton")
			+subreddit("RepublicOfMusic")
			+subreddit("rootsreggae")
			+subreddit("rhythmicnoise")
			+subreddit("soundtracks")
			+subreddit("SoundsVintage")
			+subreddit("soulof")
			+subreddit("SpaceMusic")
	.item.hidden.extra
		i.icon.lab
		| Extra
		.menu.selection.extra