mixin subreddit(sub)
	a.item(data-value=sub.toLowerCase()) #{sub}

.ui.fluid.secondary.inverted.vertical.menu.subreddit-menu
	.item
		i.music.icon
		| Alternative
		.menu.selection
			each sub in ["90sPunk", "crustpunk", "EmoScreamo", "GaragePunk", "grunge", "LocalPunkMusic", "poppunkers", "postpunk", "punk", "Punkskahardcore", "ska"]
				+subreddit(sub)
	.item
		i.music.icon
		| Electronic
		.menu.selection
			each sub in ["ambient", "astateoftrance", "atmosphericdnb", "bassheavy", "breakbeat", "breakcore", "brostep", "chillstep", "chiptunes", "classic_beats", "ClassicTrance", "complextro", "danceparty", "darkstep", "deephouse", "disco", "dnb", "downtempo", "drumstep", "dubstep", "EDM", "electro", "electrohouse", "Electronica", "ElectronicJazz", "electronicmagic", "electronicmusic", "electropop", "electroswing", "fidget", "footwork", "frenchhouse", "funkhouse", "futurebeats", "futurefunkairlines", "futuregarage", "futurepopmusic", "futuresynth", "glitch", "Glitchhop", "Glitchop", "grime", "happyhardcore", "hardstyle", "hardtek", "house", "idm", "juke", "jumpup", "latinhouse", "liquiddnb", "minimaltech", "moombahton", "NeuroFunk", "nudisco", "proghouse", "progressivetrance", "progtrance", "psytrance", "purplemusic", "raggajungle", "RealDubstep", "RealProgHouse", "skweee", "swinghouse", "synthwave", "tech_house", "techno", "techstep", "trance", "tranceandbass", "trap", "triphop"]
				+subreddit(sub)
	.item
		i.music.icon
		| Blues / Funk / Jazz / Country
		.menu.selection
			each sub in ["altcountry", "blues", "country", "countrYmusic", "deepfunk", "esoterofunk", "folk", "folkpunk", "funk", "FunkSouMusic", "indiefolk", "jazz", "outlaWcountry", "soul", "soulies", "texascountry"]
				+subreddit(sub)
	.item
		i.music.icon
		| Rap / Hip Hop
		.menu.selection
			each sub in ["90sHipHop", "altrap", "Asianrap", "GermanRap", "HipHopInstrumentals", "hiphop", "hiphop101", "hiphopheads", "JazzyHiphop", "makinghiphop", "nerdcore", "rap", "rapbattles", "rnb"]
				+subreddit(sub)
	.item
		i.music.icon
		| Rock
		.menu.selection
			each sub in ["Alternativerock", "BluesRock", "ClassicRock", "HardRock", "indie_rock", "mathrock", "noiserock", "postrock", "progrockmusic", "psychedelicrock", "Punk_Rock", "rock", "stonerrock"]
				+subreddit(sub)
	.item
		i.music.icon
		| Metal
		.menu.selection
			each sub in ["BlackMetal", "ClassicMetal", "Deathmetal", "doommetal", "electronicmetal", "epicmetal", "folkmetal", "HeadBangToThis", "MelodicDeathMetal", "melodicmetal", "Metal", "Metalcore", "postmetal", "PowerMetal", "progmetal", "TechnicalDeathMetal", "symphonicmetal", "TrueBlackMetal"]
				+subreddit(sub)
	.item
		i.music.icon
		| *-Core
		.menu.selection
			each sub in ["allcore", "Christcore", "Deathcore", "gabber", "grindcore", "Hardcore", "melodichardcore", "Metalcore", "PostHardcore"]
				+subreddit(sub)
	.item
		i.music.icon
		| Asian
		.menu.selection
			each sub in ["Asianrap", "cpop", "japanesemusic", "jpop", "kpop"]
				+subreddit(sub)
	.item
		i.music.icon
		| Other
		.menu.selection
			each sub in ["80sMusic", "90sAlternative", "90smusic", "AbletonProductions", "AcousticOriginals", "ambientmusic", "asmr", "AvantGardeMusic", "BigRoom", "Bluegrass", "Boneyard", "BoogieMusic", "calireggae", "CanadianMusic", "chillmusic", "chillout", "chillwave", "choralmusic", "ChristianMusic", "CircleMusic", "classicalmusic", "coversongs", "cratedigging", "Cyberpunk_Music", "Djent", "djmixes", "dub", "early2000sjams", "EcouteCa", "ElitistClassical", "experimentalmusic", "freemusic", "frisson", "gamemusic", "germusic", "icm", "ICoveredASong", "indie", "Indiewok", "industrialmusic", "ipm", "Jambands", "jazznoir", "koreanmusic", "liftingmusic", "listentoconcerts", "listentomusic", "listentothis", "listentous", "mashups", "minimal", "mixes", "mlptunes", "monsterfuzz", "motivatedmusic", "music", "musiccritics", "musicforconcentration", "musicnews", "MusicVideosOnYouTube", "mymusic", "newgrass", "noisemusic", "NOLAMusic", "obscuremusic", "oldiemusic", "opera", "orchestra", "outrun", "partymusic", "partymusicstation", "Psybient", "queercore", "redditmusicclub", "reggae", "reggaeton", "RepublicOfMusic", "rhythmicnoise", "rootsreggae", "shoegaze", "sludge", "soulof", "SoundsVintage", "soundtracks", "SpaceMusic", "ThisIsOurMusic", "touhoumusic", "trapmuzik", "treemusic", "trueMusic", "tunejerk", "Twee", "under10k", "vintageobscura", "WorldMusic", "WWCC"]
				+subreddit(sub)
	.item.hidden.extra
		i.icon.lab
		| Extra
		.menu.selection.extra