mixin subreddit(sub)
	a.item(data-value=sub.toLowerCase()) #{sub}

.ui.fluid.secondary.inverted.vertical.menu.subreddit-menu
	.item
		i.music.icon
		| Alternative
		.menu.selection
			each sub in ["crustpunk", "grunge", "melodicmetal", "postrock", "punk", "Punkskahardcore", "ska", "stonerrock"]
				+subreddit(sub)
	.item
		i.music.icon
		| Electronic
		.menu.selection
			each sub in ["atmosphericdnb", "bassheavy", "breakbeat", "breakcore", "brostep", "chillstep", "chiptunes", "classic_beats", "ClassicTrance", "complextro", "darkstep", "deephouse", "dnb", "dubstep", "downtempo", "drumstep", "electro", "ElectronicJazz", "electronicmusic", "electrohouse", "electropop", "electroswing", "fidget", "footwork", "frenchhouse", "funkhouse", "futurebeats", "futurefunkairlines", "futuregarage", "futurepopmusic", "glitch", "glitchop", "grime", "happyhardcore", "hardstyle", "hardtek", "house", "idm", "juke", "jumpup", "latinhouse", "liquiddnb", "minimaltech", "moombahton", "NeuroFunk", "nudisco", "proghouse", "progtrance", "progressivetrance", "psytrance", "purplemusic", "raggajungle", "RealDubstep", "RealProgHouse", "skweee", "techno", "tech_house", "techstep", "trance", "tranceandbass", "trap", "triphop"]
				+subreddit(sub)
	.item
		i.music.icon
		| Blues / Funk / Jazz
		.menu.selection
			each sub in ["blues", "DeepFunk", "funk", "FunkSouMusic", "jazz", "soul", "soulies"]
				+subreddit(sub)
	.item
		i.music.icon
		| Rap/Hip Hop
		.menu.selection
			each sub in ["altrap", "hiphopheads", "makinghiphop", "nerdcore", "rap"]
				+subreddit(sub)
	.item
		i.music.icon
		| Other
		.menu.selection
			each sub in ["80sMusic", "AbletonProductions", "ambientmusic",  "asmr",  "AvantGardeMusic",  "calireggae",  "chillmusic",  "chillwave",  "classicalmusic",  "coversongs",  "Cyberpunk_Music",  "dub",  "djmixes",  "EcouteCa", "experimentalmusic",  "freemusic",  "frisson",  "gamemusic",  "icm",  "industrialmusic",  "ipm",  "jazznoir",  "koreanmusic",  "liftingmusic",  "listentothis",  "listentous",  "mashups",  "minimal",  "mlptunes",  "motivatedmusic",  "music",  "musiccritics",  "musicforconcentration",  "musicnews",  "MusicVideosOnYouTube",  "orchestra",  "partymusic",  "queercore",  "redditmusicclub",  "reggae",  "reggaeton",  "RepublicOfMusic",  "rootsreggae",  "rhythmicnoise",  "soundtracks",  "SoundsVintage",  "soulof",  "SpaceMusic"]
				+subreddit(sub)
	.item.hidden.extra
		i.icon.lab
		| Extra
		.menu.selection.extra