.ui.dropdown.inline.right.pointing.reddit
	i.columns.icon
	.menu
		.link.item(data-page="browse")
			i.icon.list 
			| Subreddits
		.link.item(data-page="playlist")
			i.icon.sound
			| Playlist
		.link.item(data-page="remote")
			i.icon.wifi
			| Remote