.ui.dropdown.inline.right.pointing.reddit
	i.setting.icon
	.menu
		.link.item(data-page="browse")
			i.icon.list 
			| Browse
		.link.item(data-page="playlist")
			i.icon.headphones
			| Playlist
		.link.item(data-page="about")
			i.icon.help
			| About
		.link.item(data-page="remote")
			i.icon.bullhorn
			| Remote