a.sort.item.active(data-value='hot') Hot
a.sort.item(data-value='new') New
a.top.sort.item(data-value="top") Top
.ui.float.dropdown.icon.item.top.selection.inverted.black.topMethod
	.text Week
	i.dropdown.icon
	.menu
		a.item(data-value='top:day') Today
		a.item(data-value='top:week') This Week
		a.item(data-value='top:month') This Month
		a.item(data-value='top:year') This Year
		a.item(data-value='top:all') All Time