.ui.dropdown.item.sub-dropdown
	.text Hot
	i.dropdown.icon
	.menu
		a.item.active(data-value='hot') Hot
		.item
			| Top
			i.dropdown.icon
			.menu
				a.item(data-value='top:day') Top: Today
				a.item(data-value='top:week') Top: This Week
				a.item(data-value='top:month') Top: This Month
				a.item(data-value='top:year') Top: This Year
				a.item(data-value='top:all') Top: All Time
		a.item(data-value='new') New