doctype
html(xmlns:og='http://ogp.me/ns#')
	head
		meta(charset='utf-8')
		include includes/favicon
		block meta
			include includes/meta
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='/css/style.css?v=#{pkg.version}', rel='stylesheet')
	body
		include includes/titlebar 
		.ui.container.one(data-page="browse", style="width: 20%;")
			include content/main/browse
		if page && content
			.ui.container.active.two(data-page=page, style="width: 46.66%; left: 20%;")
				|!{content}
		else
			.ui.container.two(data-page="playlist", style="width: 46.66%; left: 20%;")
				include content/main/playlist
		.ui.container.three(data-page="song")
			include content/main/song
		include includes/controls
		include includes/message
		include includes/modal
		include includes/javascript
		block userscript
			include includes/authentication
			include includes/url
