extends main
block livereload
block native
block macnative
block windowsnative
block players
	.players.hidden
		iframe(sandbox="allow-same-origin allow-scripts", src="sandbox.html", width="0", height="0", frameborder="0")#sandbox
block styles
	<!-- WinJS references -->
	<link href="//Microsoft.WinJS.2.0/css/ui-dark.css" rel="stylesheet" />
	<script src="//Microsoft.WinJS.2.0/js/base.js"></script>
	<script src="//Microsoft.WinJS.2.0/js/ui.js"></script>
	link(href='/css/semantic.min.css', rel='stylesheet')
	link(href='/css/style.css', rel='stylesheet')
block libraries
	//- Jquery
	script(type='text/javascript', src='/js/lib/jquery.min.js')
	script(type='text/javascript', src='/js/lib/jquery-migrate.min.js')
	script(type='text/javascript', src='/js/lib/jquery.address.min.js')
	script(type='text/javascript', src='/js/lib/jquery.easing.min.js')
	//- Player
	script(type="text/javascript", src="/js/lib/soundcloud.api.js")
	script(type='text/javascript', src='/js/lib/jquery.tubeplayer.js')
	//- TweenMax
	script(type='text/javascript', src='/js/lib/TweenMax.min.js')
	script(type='text/javascript', src='/js/lib/jquery.gsap.min.js')
	//- swfobjet
	script(type='text/javascript', src='/js/lib/swfobject.js')
	//- MVP
	script(type='text/javascript', src='/js/lib/riot.js')
	//- Keyboard & UI
	script(type='text/javascript', src='/js/lib/keyboard.js')
	script(type='text/javascript', src='/js/lib/semantic.min.js')
	script(type="text/javascript", src="https://www.google-analytics.com/analytics.js")
block mainscript
	script(type='text/javascript', src='/js/browser.js')