extends main
block livereload
block native
block macnative
block windowsnative
block mainscript
	if (subreddits)
		script(type="text/javascript").
			var defaults = "#{subreddits}";
	if (autoplay)
		script(type="text/javascript").
			var autoplay = true;
	script(type='text/javascript', src='/js/browser.js')