!!! 5
html
	head
		style.
			body {
				margin: 0px;
				background: #000;
			}/*
			#youtube iframe {
				width: 100%;
				height: 100%;
				position: absolute;
			}*/
	body
		//- Hidden Controls 
		.player.hidden
			#youtube
		.scripts
			//- Jquery
			script(type='text/javascript', src='/js/lib/jquery.min.js')
			script(type='text/javascript', src='/js/lib/jquery-migrate.min.js')
			script(type='text/javascript', src='/js/lib/jquery.easing.min.js')
			//- swfobjet
			script(type='text/javascript', src='/js/lib/swfobject.js')
			//- Player
			script(type='text/javascript', src='/js/lib/jquery.tubeplayer.js')
			script(type='text/javascript', src='/js/lib/riot.js')
			//- Execute
			script(type='text/javascript', src='/js/video.js')