API = 
	Bandcamp:
		base: "//api.bandcamp.com/api"
		key: "YOUR_BANDCAMP_KEY"
	Soundcloud: 
		base: "//api.soundcloud.com"
		key: "YOUR_SOUNDCLOUD_KEY"
	Reddit:
		base: "//www.reddit.com"
	MusicPlayer:
		base: "https://reddit.music.player.il.ly"

FLAG_DEBUG = true