API = 
	Bandcamp:
		base: "http://api.bandcamp.com/api"
		key: "YOUR_BANDCAMP_KEY"
	Soundcloud: 
		base: "http://api.soundcloud.com"
		key: "YOUR_SOUNDCLOUD_KEY"
	Reddit:
		base: "http://www.reddit.com"

FLAG_DEBUG = true